<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Book</title>
</head>
<body>
  <h1>add book</h1>
  <form method="POST" action="/add-book">
    <input type="text" placeholder="name" name='name'/>
    <input type="text" placeholder="isbn" name='isbn' />
    <input type="text" placeholder="author" name ='author' />
    <label>Is Published</label> <input type="checkbox" placeholder="name" name='isPublished' />
    <input type="text" placeholder="rating" name='rating' />
    <button>Save</button>

  </form>
  
</body>
</html>