<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Movie</title>
</head>
<body>

  <h1>Add a Movie</h1>

  <form method="POST" action="/add-movie">
    <input type="text" placeholder="title" name="title" id="titleTextBox" required/>
    <input type="text" placeholder="director" name="director" id="directorTextBox" required/>
    <input type="text" placeholder="rating (1-10)" name="rating" id="ratingTextBox" required/>
    <input type="text" placeholder="poster URL" name="poster_url" id="posterTextBox" required/>
    <label>Is it Oscar worthy?</label><input type="checkbox" name="isPublished" id="isPublished" required/>
    <button>Add Movie</button>
  </form>
    <a href="/movies"><button>My Movies</button></a>
  
</body>
</html>